
form:not(#form_login) {
    font-family: monospace !important;   
    position: relative;
    border-radius: 5px 5px 5px 5px;
    background-color: #ee6c4d;
    padding: 10px;
    margin: 20px;
}

form > div {
    margin: 10px;
}

.form-check-label{
    font-family: monospace !important;
    color: white !important;
    font-size: 14px;    
}

form:not(#form_login) > div > label {
    width: 100%;
    font-family: monospace !important;
    font-size: 14px;
    color: white !important;
    background-color: #f2856a;
    padding: 5px;
}

form:not(#form_login) > .form-group {
    background-color: #f2856a;
    border-radius: 5px;
    padding: 5px;
}

form > div > input {
    width: 100%;
    height: 30px;
    font-size: 13px !important;
    color: #2a9d8f;
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
}

form > button {
    font-size: 13px !important;
    border: none !important;
    height: 40px;
    width: 80px;
    padding: 15;
    margin-top: 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
}

/* ================== Custom clases ================= */

.form-login{
    width: 100%;
    height: 100%;
    font-family: monospace !important;
    color: white !important;
    background-color: #25272b !important;
    padding: 5px;
    border-radius: 0px 0px 0px 5px;
}


.modal-form{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.modal-form > div > label{
    color: black;
}

.tabGroup{
    margin-bottom: 2px;    
}

.tab{
    background-color: #2a9d8f;
    border-style: none;
    margin-right: 5px;
    height: 35px;   
    min-width: 120px;
    font-family: monospace;
    font-size: 15px;
    border-radius: 5px 5px 0px 0px;
    color: white;
}