 th {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: #ee6c4d !important;
}

tbody{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

tbody > tr > td > a {
    font-style: normal;
    background-color:#ee6c4d ;
    padding: 5px;
    height: 20px;
    width: 60px;
}